<nav
  class="navbar bg-black border-bottom border-body navbar-expand-lg"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <div class="d-flex">
      <a class="navbar-brand" href="#">Navbar</a>

      <div class="" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>

    <button class="btn" *ngIf="(isLogged | async) === true" (click)="logout()">
      Logout
    </button>
  </div>
</nav>
