a{
  color: whitesmoke;
  text-decoration: none;

}
.mainContainer{
  background-color: rgb(19, 19, 19);
  height: calc(100vh - 58px - 57px);
  .container{
    .row
    {
      border: 1px solid var(--thuder-color) !important;
    }
    .row:hover{
      background-color: rgb(42, 42, 42);
    }
  }
}
